page-register-biker {
    .image {
        height: 5vw; 
        width: 5vw; 
       border: 2px solid #fff;
       border-radius: 50%;
       box-shadow: 0 0 5px gray;
       display: inline-block;
       margin-left: auto;
       margin-right: auto;
   }
   
   .circle-pic{
    border: 1px solid #ddd;
    border-radius: 200px;
    padding: 5px;
    width: 150px;
    background: white;
   }

   #p-20-box-402 {
    top: 743px;
    left: 103px;
    width: 880px;
    height: 709px;
    opacity: 1;
    -webkit-filter: none;
    filter: none;
}s

img {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    width: 150px;
}
.center{
    text-align: center;
    background: #ffc01a;
}
.center2{
    text-align: center;
}


  .card-content-md {
    padding: 5px 26px;
    font-size: 1.4rem;
    line-height: 1.5;
}

.button-md {
    border-radius: 6px;
}




.margin-left {
    margin-left:56px!important;
}

.container4 {
 
    float: left;
      
}

}